[Unit]
Description=Audio Service
After=network.target dbus.service

[Service]
Type=idle
ExecStart=/home/nucleus/aiorosplayer
Restart=always
User=root

[Install]
WantedBy=multi-user.target
