[Unit]
Description=Sentinel application
After=network.target

[Service]
ExecStart=/home/nucleus/sentinel
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=sentinel.target
